header{
    background-color: #1e1e1e;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #ffffff;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

nav{
    background-color: #1e1e1e ;
    padding: 12px;
    text-align: center;
}

nav a{
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 18px
;
}

nav a:hover{
    text-decoration: underline;
}

section{
    margin: 30px auto;
    padding: 25px;
    max-width: 800px;
    background-color: #f4f4f4 ;
    border-radius: 10px;
}

h1, h2{
    margin-bottom: 15px;
}

p{
    line-height: 1.6;
}