header{
    background-color: #1e1e1e;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #ffffff;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

nav{
    background-color: #1e1e1e ;
    padding: 12px;
    text-align: center;
}

nav a{
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 18px
;
}

nav a:hover{
    text-decoration: underline;
}

section{
    margin: 30px auto;
    padding: 25px;
    max-width: 800px;
    background-color: #f4f4f4 ;
    border-radius: 10px;
}

h1, h2{
    margin-bottom: 15px;
}

p{
    line-height: 1.6;
}

.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #bbbbbb;
}

.hero p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 24px;
    background-color: #ff9800;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.about {
    background-color: white;
}

.about p {
    font-size: 16px;
    line-height: 1.7;
}

.projects {
    background-color: #f4f4f4;
}
.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
}


